[submodule "external/tabbed"]
	path = external/tabbed
	url = https://github.com/ACov96/tabbed.git
[submodule "external/st"]
	path = external/st
	url = https://github.com/ACov96/st.git
[submodule "external/dwm"]
	path = external/dwm
	url = https://github.com/ACov96/dwm.git
[submodule "external/dmenu"]
	path = external/dmenu
	url = https://github.com/ACov96/dmenu.git
[submodule "external/aesthetic-wallpapers"]
	path = external/aesthetic-wallpapers
	url = https://github.com/D3Ext/aesthetic-wallpapers
